html {
    background-color: #f8f8f8;
}

.game-grid, th, td {
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-collapse: collapse;
    border: 1px solid gray;
}

.cell-entity-doodad {
    background-color: #8e097f;
}

.cell-entity-road {
    background-color: #7c7c7c;
}

.cell-entity-roadblock {
    background-color: #680f0f;
}

.cell-entity-resource {
    background-color: #68f442;
}

.cell-entity-structure {
    background-color: #ff8c00;
}

.cell-entity-walker {
    background-color: #000;
}

.cell-new-entity-available {
    background-color: #ccffcc;
}

.cell-new-entity-unavailable {
    background-color: #ffd6cc;
}

.grid-hover {
    background-color: #eee;
}

.ui-selecting {
    background: #FECA40 !important;
}

.ui-selected {
    background-color: #a6c9e2 !important;
}

.cell-type-land {}

.cell-type-water {
    background-color: #28c7e0;
}

.cell-type-beach {
    background-color: #f4c92e;
}

.cell-type-floodplain {
    background-color: #375929;
}
